=begin
#BeezUP API

## The REST API of BeezUP system ## Overview The REST APIs provide programmatic access to read and write BeezUP data.  Basically, with this API you will be able to do everything like you were with your browser on https://go.beezup.com !  The main features are: - Register and manage your account - Create and manage and share your stores with your friends/co-workers. - Import your product catalog and schedule the auto importation - Search the channels your want to use - Configure your channels for your catalogs to export your product information:     - cost and general settings     - category and columns mappings     - your will be able to create and manage your custom column     - put in place exlusion filters based on simple conditions on your product data     - override product values     - get product vision for a channel catalog scope - Analyze and optimize your performance of your catalogs on all yours channels with different type of reportings by day, channel, category and by product. - Automatize your optimisation by using rules! - And of course... Manage your orders harvested from all your marketplaces:     - Synchronize your orders in an uniformized way     - Get the available actions and update the order status - ...and more!  ## Authentication credentials The public API with the base path **/v2/public** have been put in place to give you an entry point to our system for the user registration, login and lost password. The public API does not require any credentials. We give you the some public list of values and public channels for our public commercial web site [www.beezup.com](http://www.beezup.com).  The user API with the base path **/v2/user** requires a token which is available on this page: https://go.beezup.com/Account/MyAccount  ## Things to keep in mind ### API Rate Limits - The BeezUP REST API is limited to 100 calls/minute.  ### Media type The default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.  ### Required content type The required and default encoding for the request and responses is UTF8.  ### Required date time format All our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.  ### Base URL The Base URL of the BeezUP API Order Management REST API conforms to the following template.  https://api.beezup.com  All URLs returned by the BeezUP API are relative to this base URL, and all requests to the REST API must use this base URL template.  You can test our API on https://api-docs.beezup.com/swagger-ui\\ You can contact us on [gitter, #BeezUP/API](https://gitter.im/BeezUP/API) 

OpenAPI spec version: 2.0
Contact: help@beezup.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module SwaggerClient
  class MarketplacesOrdersSubscriptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Activate a subscription to the orders
    # 
    # @param id 
    # @param x_hook_secret 
    # @param [Hash] opts the optional parameters
    # @return [Subscription]
    def activate_subscription(id, x_hook_secret, opts = {})
      data, _status_code, _headers = activate_subscription_with_http_info(id, x_hook_secret, opts)
      return data
    end

    # Activate a subscription to the orders
    # 
    # @param id 
    # @param x_hook_secret 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Subscription, Fixnum, Hash)>] Subscription data, response status code and response headers
    def activate_subscription_with_http_info(id, x_hook_secret, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MarketplacesOrdersSubscriptionsApi.activate_subscription ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MarketplacesOrdersSubscriptionsApi.activate_subscription"
      end
      # verify the required parameter 'x_hook_secret' is set
      if @api_client.config.client_side_validation && x_hook_secret.nil?
        fail ArgumentError, "Missing the required parameter 'x_hook_secret' when calling MarketplacesOrdersSubscriptionsApi.activate_subscription"
      end
      # resource path
      local_var_path = "/user/marketplaces/orders/subscriptions/{id}/activate".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Hook-Secret'] = x_hook_secret

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Subscription')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplacesOrdersSubscriptionsApi#activate_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a subscription to the orders
    # 
    # @param request 
    # @param [Hash] opts the optional parameters
    # @return [Subscription]
    def create_subscription(request, opts = {})
      data, _status_code, _headers = create_subscription_with_http_info(request, opts)
      return data
    end

    # Creates a subscription to the orders
    # 
    # @param request 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Subscription, Fixnum, Hash)>] Subscription data, response status code and response headers
    def create_subscription_with_http_info(request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MarketplacesOrdersSubscriptionsApi.create_subscription ..."
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling MarketplacesOrdersSubscriptionsApi.create_subscription"
      end
      # resource path
      local_var_path = "/user/marketplaces/orders/subscriptions"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(request)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Subscription')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplacesOrdersSubscriptionsApi#create_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate a subscription to the orders
    # 
    # @param id 
    # @param x_hook_secret 
    # @param [Hash] opts the optional parameters
    # @return [Subscription]
    def deactivate_subscription(id, x_hook_secret, opts = {})
      data, _status_code, _headers = deactivate_subscription_with_http_info(id, x_hook_secret, opts)
      return data
    end

    # Deactivate a subscription to the orders
    # 
    # @param id 
    # @param x_hook_secret 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Subscription, Fixnum, Hash)>] Subscription data, response status code and response headers
    def deactivate_subscription_with_http_info(id, x_hook_secret, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MarketplacesOrdersSubscriptionsApi.deactivate_subscription ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MarketplacesOrdersSubscriptionsApi.deactivate_subscription"
      end
      # verify the required parameter 'x_hook_secret' is set
      if @api_client.config.client_side_validation && x_hook_secret.nil?
        fail ArgumentError, "Missing the required parameter 'x_hook_secret' when calling MarketplacesOrdersSubscriptionsApi.deactivate_subscription"
      end
      # resource path
      local_var_path = "/user/marketplaces/orders/subscriptions/{id}/deactivate".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Hook-Secret'] = x_hook_secret

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Subscription')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplacesOrdersSubscriptionsApi#deactivate_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a subscription to the orders
    # 
    # @param id 
    # @param x_hook_secret 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_subscription(id, x_hook_secret, opts = {})
      delete_subscription_with_http_info(id, x_hook_secret, opts)
      return nil
    end

    # Delete a subscription to the orders
    # 
    # @param id 
    # @param x_hook_secret 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_subscription_with_http_info(id, x_hook_secret, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MarketplacesOrdersSubscriptionsApi.delete_subscription ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MarketplacesOrdersSubscriptionsApi.delete_subscription"
      end
      # verify the required parameter 'x_hook_secret' is set
      if @api_client.config.client_side_validation && x_hook_secret.nil?
        fail ArgumentError, "Missing the required parameter 'x_hook_secret' when calling MarketplacesOrdersSubscriptionsApi.delete_subscription"
      end
      # resource path
      local_var_path = "/user/marketplaces/orders/subscriptions/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Hook-Secret'] = x_hook_secret

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplacesOrdersSubscriptionsApi#delete_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a subscription to the orders
    # 
    # @param id 
    # @param x_hook_secret 
    # @param [Hash] opts the optional parameters
    # @return [Subscription]
    def get_subscription(id, x_hook_secret, opts = {})
      data, _status_code, _headers = get_subscription_with_http_info(id, x_hook_secret, opts)
      return data
    end

    # Get a subscription to the orders
    # 
    # @param id 
    # @param x_hook_secret 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Subscription, Fixnum, Hash)>] Subscription data, response status code and response headers
    def get_subscription_with_http_info(id, x_hook_secret, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MarketplacesOrdersSubscriptionsApi.get_subscription ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MarketplacesOrdersSubscriptionsApi.get_subscription"
      end
      # verify the required parameter 'x_hook_secret' is set
      if @api_client.config.client_side_validation && x_hook_secret.nil?
        fail ArgumentError, "Missing the required parameter 'x_hook_secret' when calling MarketplacesOrdersSubscriptionsApi.get_subscription"
      end
      # resource path
      local_var_path = "/user/marketplaces/orders/subscriptions/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Hook-Secret'] = x_hook_secret

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Subscription')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplacesOrdersSubscriptionsApi#get_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the subscription list
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<Subscription>]
    def get_subscription_list(opts = {})
      data, _status_code, _headers = get_subscription_list_with_http_info(opts)
      return data
    end

    # Get the subscription list
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Subscription>, Fixnum, Hash)>] Array<Subscription> data, response status code and response headers
    def get_subscription_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MarketplacesOrdersSubscriptionsApi.get_subscription_list ..."
      end
      # resource path
      local_var_path = "/user/marketplaces/orders/subscriptions"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Subscription>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketplacesOrdersSubscriptionsApi#get_subscription_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
